<html>
	<head>
        <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous" type="text/javascript">
        </script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
        </script>
        <link rel="stylesheet" type="text/css" href="static/styles.css">
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">		<title>
		</title>
	</head>

    <body>
        <div class="container">
            
            <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
              <h1 class="display-4">Your Grocery List</h1>
            </div>

            <div class="row text-center">
                {% for calc in data %}
                <div class="card col-sm box-shadow">
                    <div style="width: 100%; display: block;" class="card-header">
                        <img class="card-img-top" src="static/{{ calc.store }}2.jpg" />
                    </div>
                    <div class="list-group mb-3">
                        {% for item in calc.basket %}
                            <div class="list-group-item d-flex justify-content-between lh-condensed">
                                <span>{{ item.name }}</span> ({{ item.serving }})
                            </div>
                        {% endfor %}
                    </div>
                    <div>
                        <h1 class="card-title pricing-card-title">${{ calc.total }}</h1>
                        <i style="color: {{ calc.color }}" class="fas fa-shopping-basket fa-7x"></i>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </body>

</html>
