<html>
<head>
<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous" type="text/javascript">
</script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</script>
<link rel="stylesheet" type="text/css" href="static/styles.css">

<title>
Poverty Macros Calculator
</title>
</script>
</head>

<body>
{% block navbar %} {% endblock %}
{% block content %}
<form action="{{ url_for('calculate') }}" method=post>
<div class="col-5">
<div class="form-group">
<label for="fat">Amount of Fat</label>
<input name= "fat" value="60" type="fat" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter amount of fat">
<label for="carbs">Amount of Carbs</label>
<input name= "carbs" value="200" type="carbs" class="form-control" aria-describedby="emailHelp" placeholder="Enter amount of carbs">
<label for="protein">Amount of Protein</label>
<input name="protein" value="200" type="protein" class="form-control" aria-describedby="emailHelp" placeholder="Enter amount of protein">
<button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock %}

</body>
</html>
