<html>
	<head>

		<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous" type="text/javascript">
		</script>
		<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet" type="text/css">
		<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js" type="text/javascript">
		</script>
		<link rel="stylesheet" type="text/css" href="static/styles.css">
		<script type="text/javascript">
			$('#memberModal').modal('show');
		</script>

		<title>
		</title>
		<script type="text/javascript">
			function switch_color(elem) {
				if (elem.style.backgroundColor === "#e6e7e8")
					elem.style.backgroundColor = "transparent";
				else
					elem.style.backgroundColor = "#e6e7e8"
			}
		</script>
	</head>

	<body>
		{% block title %}Your Symptom Checker{% endblock %}
		{% block navbar %} {% endblock %}
		{% block content %} <div>I am here</div> {% endblock %}
	</body>
</html>
